################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.vs/BoscoAFH.slnx/v18
/backend/BoscoAFH/.vs/BoscoAFH.slnx
/backend/Gateway/BoscoAFH.Gateway/bin
/backend/Gateway/BoscoAFH.Gateway/obj
*.user
/backend/Infrastructure/BoscoAFH.Master.Infrastructure/bin/Debug/net10.0
/backend/Infrastructure/BoscoAFH.Master.Infrastructure/obj
/backend/Infrastructure/BoscoAFH.Post.Infrastructure/bin/Debug/net10.0
/backend/Infrastructure/BoscoAFH.Post.Infrastructure/obj
/backend/Microservices/BoscoAFH.Auth/bin
/backend/Microservices/BoscoAFH.Auth/obj
/backend/Microservices/BoscoAFH.Feedback/bin/Debug/net10.0
/backend/Microservices/BoscoAFH.Feedback/obj
/backend/Microservices/BoscoAFH.Master/bin
/backend/Microservices/BoscoAFH.Master/obj
/backend/Platform/BoscoAFH.Base/bin/Debug/net10.0
/backend/Platform/BoscoAFH.Base/obj
/backend/Platform/BoscoAFH.Common/bin/Debug/net10.0
/backend/Platform/BoscoAFH.Common/obj
/backend/Platform/BoscoAFH.CommonService/bin/Debug/net10.0
/backend/Platform/BoscoAFH.CommonService/obj
/backend/Platform/BoscoAFH.DBEngine/bin/Debug/net10.0
/backend/Platform/BoscoAFH.DBEngine/obj
/backend/Platform/BoscoAFH.Entities/bin/Debug/net10.0
/backend/Platform/BoscoAFH.Entities/obj
/backend/Service/MasterService/bin/Debug/net10.0
/backend/Service/MasterService/obj
/backend/Service/PostService/bin/Debug/net10.0
/backend/Service/PostService/obj
/backend/Microservices/BoscoAFH.Auth/serilogs
/backend/.vs/BoscoAFH.slnx/FileContentIndex
/backend/BoscoAFH/.vs/ProjectEvaluation
/backend/.vs/BoscoAFH.slnx/DesignTimeBuild
